
<script>
  function save_wi () {
    document.getElementById('edition_form').submit();
  }
  function proceed_wi () {
    document.getElementById('state').value = 'proceeded';
    document.getElementById('edition_form').submit();
  }
</script>

<div class="column span-12 first">
  <div class='content_title'><%= workitem_path(@workitem) %></div>

  <% form_tag(
    workitem_path(@workitem),
    :id => 'edition_form',
    :method => :put,
    :multipart => true) do -%>

  <input type="hidden" name="state" id="state" value="" /><!-- :( -->

  <table>
    <%= render :partial => 'shared/workitem_header', :locals => { :workitem => @workitem } %>
    <tr class="nhover">
      <td>fields</td>
      <td><textarea name='fields' rows='14' cols='80'><%= h @workitem.field_hash.to_json.gsub(/,/, ",\n") %></textarea></td>
    </tr>
    <tr>
      <td colspan='2' class='nhover'>
        <%= link_to_function('save', 'save_wi(); return true;') %> |
        <%= link_to_function('proceed', 'proceed_wi(); return true;') %> |
        <%= link_to('back', :back) %>
      <td>
    </tr>
  </table>
  <% end -%>

</div>

<div class="column span-12 last align-right">

  <%= render_fluo :wfid => @workitem.wfid, :workitems => [ @workitem.expid ] %>

</div>

