
<script>

  function saveWi () {
    var f = byId('workitem_form');
    f.onsubmit.call(); // making sure it happens...
    f.submit();
  }
  function proceedWi () {
    byId('state').value = 'proceeded';
    saveWi();
  }

</script>

<div style="float: left;">

  <div class='content_title'><%= workitem_path(@workitem) %></div>

  <% form_tag(
    workitem_path(@workitem),
    :id => 'workitem_form',
    :method => :put,
    :multipart => true) do -%>

  <input type="hidden" name="state" id="state" value="" /><!-- :( -->

  <table>

    <%= render :partial => 'shared/workitem_header', :locals => { :workitem => @workitem } %>

    <tr class="nhover">
      <td colspan="2">

        <%= render :partial => @payload_partial, :locals => { :fields => @workitem.field_hash } %>

      </td>
    </tr>
    <tr class="nhover">
      <td colspan='2'>
        <%= link_to_function('save', 'saveWi()') %> |
        delegate |
        <%= submit_tag 'proceed', :onclick => "proceedWi(); return false;" %> |
        <%= link_to('back', :back) %>
      <td>
    </tr>
  </table>
  <% end -%>

</div>

<div class="align-right">

  <%= render_fluo :wfid => @workitem.wfid, :workitems => [ @workitem.expid ] %>

</div>

