
<script src="/javascripts/ruote-forms.js"></script>

<script>

  // TODO : move that out to a .js file

  function swapForm () {

    var fta = byId('fields_ta');
    var ffl = byId('fields');

    var frf = byId('fields_rf');
    var brf = byId('rf_buttons');

    if (fta.style.display == 'block') {
      RuoteForms.renderForm('rform', fluoFromJson(ffl.value));
      fta.style.display = 'none';
      frf.style.display = 'block';
      brf.style.display = 'inline';
    }
    else {
      ffl.value = RuoteForms.toJson('rform');
      fta.style.display = 'block';
      frf.style.display = 'none';
      brf.style.display = 'none';
    }
  }

  function save_wi () {
    swapForm();
    byId('edition_form').submit();
  }
  function proceed_wi () {
    swapForm();
    byId('state').value = 'proceeded';
    byId('edition_form').submit();
  }

</script>

<div style="float: left;">
  <div class='content_title'><%= workitem_path(@workitem) %></div>

  <% form_tag(
    workitem_path(@workitem),
    :id => 'edition_form',
    :method => :put,
    :multipart => true) do -%>

  <input type="hidden" name="state" id="state" value="" /><!-- :( -->

  <table>
    <%= render :partial => 'shared/workitem_header', :locals => { :workitem => @workitem } %>
    <tr class="nhover">
      <td class="fieldhead-left">
        fields (<a href="" onclick="swapForm(); return false;">swap</a>)
      </td>
      <td class="fieldhead-right">
        <span id="rf_buttons">
          <a href="" onclick="RuoteForms.resetForm('rform'); return false;">reset</a> |
          <a href="" onclick="RuoteForms.undo('rform'); return false;">undo</a>
        </span></td>
    </tr>
    <tr class="nhover">
      <td colspan="2">
        <div id="fields_ta" style="display: none;">
          <textarea id='fields' name='fields'><%= h @workitem.field_hash.to_json -%></textarea>
        </div>
        <div id="fields_rf">
          <div id="rform"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan='2' class='nhover'>
        <%= link_to_function('save', 'save_wi(); return true;') %> |
        delegate |
        <%= link_to_function('proceed', 'proceed_wi(); return true;') %> |
        <%= link_to('back', :back) %>
      <td>
    </tr>
  </table>
  <% end -%>

</div>

<div class="align-right">

  <%= render_fluo :wfid => @workitem.wfid, :workitems => [ @workitem.expid ] %>

</div>

<script>
  RuoteForms.renderForm('rform', <%= @workitem.field_hash.to_json %>);
</script>

