
<script>
  function proceed () {
    document.getElementById('state').value = 'proceeded';
    document.getElementById('edition_form').submit();
  }
</script>

<div class='content_title'>/workitems/<%= h @workitem.id %></div>

<% form_tag(
  "/workitems/#{@workitem.id}",
  :id => 'edition_form',
  :method => :put,
  :multipart => true) do -%>

<input type="hidden" name="state" id="state" value="" /><!-- :( -->

<table>
  <%= render :partial => 'shared/workitem_header', :locals => { :workitem => @workitem } %>
  <tr class="nhover">
    <td>fields</td>
    <td><pre><%= h @workitem.field_hash.to_json.gsub(/,/, ",\n") %></pre></td>
  </tr>
  <tr>
    <td colspan='2'>
      save |
      <%= link_to_function('proceed', 'proceed(); return true;') %> |
      <%= link_to('back', :back) %>
    <td>
  </tr>
</table>
<% end -%>

