
<script>
  function pick (workitemPath) {
    var form = document.getElementById('workitem_delegation_form');
    form.action = workitemPath;
    form.submit();
  }
</script>

<div class='content_title'>/workitems</div>

<table class='coll'>
  <thead>
    <tr>
      <th>wfid</th>
      <th>workflow</th>
      <th>since</th>
      <th>expid</th>
      <th>store</th>
      <th>participant</th>
      <th>activity</th>
    </tr>
  </thead>
<% for workitem in @workitems %>
  <% fei = workitem.full_fei %>
  <tr class="workitem">
    <td><%= link_to h(fei.wfid), workitems_path(fei.wfid) %></td>
    <td><%= link_to_slice(workitem, :wf_name, :workflow) %> <%= h workitem.wf_revision %></td>
    <td><%= display_since(workitem, :dispatch_time) %></td>
    <td><%= h workitem.full_fei.expid %></td>
    <td><%= link_to_slice(workitem, :store_name, :store) %></td>
    <td><%= link_to_slice(workitem, :participant_name, :participant) %></td>
    <td><%= h workitem.activity %></td>
    <td class="coll_buttons">
      <%= link_to 'show', workitem_url(workitem) %> |
      <%= link_to_if current_user.may_see?(workitem), 'edit', edit_workitem_url(workitem) %> |
      <%= link_to_function 'pick', "pick('#{workitem_url(workitem)}');" %>
    </td>
  </tr>
<% end -%>
</table>

<% if request.query_string.size > 0 or params[:wfid] %>
<div class="workitems_nav align-right">
  <%= link_to 'all', :controller => 'workitems' %>
</div>
<% end %>

<% form_tag(
  '/none',
  :id => 'workitem_delegation_form',
  :method => :put,
  :multipart => true) do -%>

  <input type="hidden" name="store_name" id="store_name" value="<%= current_user.login %>" />
<% end %>

