
<script>
  function pick (workitemPath) {
    var form = document.getElementById('workitem_delegation_form');
    form.action = workitemPath;
    form.submit();
  }
  function doSearch () {
    var q = document.getElementById('query').value;
    if (q == '') return;
    q = encodeURI(q);
    h = document.location.href.split('?')[0];
    document.location.href = h + '?q=' + q;
  }
</script>

<div class="column span-12 first content_title">/workitems</div>

<div class="column span-12 last align-right workitem_search">
  <input
    type="text"
    id="query"
    onkeyup="onEnter(this, event, doSearch); return false;"
    value="<%= params[:q] %>"
  />
  <%= link_to_function 'search', 'doSearch();' %>
</div>

<table class='coll'>
  <thead>
    <tr>
      <th>wfid</th>
      <th>workflow</th>
      <th>since</th>
      <th>expid</th>
      <th>store</th>
      <th>participant</th>
      <th>activity</th>
      <th class="align-right"><%= @workitems.size %> workitems</th>
    </tr>
  </thead>
<% for workitem in @workitems %>
  <% fei = workitem.full_fei %>
  <tr class="workitem">
    <td><%= link_to h(fei.wfid), workitems_path(fei.wfid) %></td>
    <td><%= link_to_slice(workitem, :wfname, :workflow) %> <%= h workitem.wfrevision %></td>
    <td><%= display_since(workitem, :dispatch_time) %></td>
    <td><%= h workitem.full_fei.expid %></td>
    <td><%= link_to_slice(workitem, :store_name, :store) %></td>
    <td><%= link_to_slice(workitem, :participant_name, :participant) %></td>
    <td><%= h workitem.activity %></td>
    <td class="coll_buttons">
      <%= link_to 'show', workitem_url(workitem) %> |
      <%= link_to_if current_user.may_see?(workitem), 'edit', edit_workitem_url(workitem) %> |
      <%= link_to_function 'pick', "pick('#{workitem_url(workitem)}');" %>
    </td>
  </tr>
<% end -%>
</table>

<% if request.query_string.size > 0 or params[:wfid] %>
<div class="workitems_nav align-right">
  <%= link_to 'all', :controller => 'workitems' %>
</div>
<% end %>

<div class="processes_launch align-right">
  <%= link_to('launch', definitions_path, :title => 'launch a new process from a definition') %>
</div>

<% form_tag(
  '/none',
  :id => 'workitem_delegation_form',
  :method => :put,
  :multipart => true) do -%>

  <input type="hidden" name="store_name" id="store_name" value="<%= current_user.login %>" />
<% end %>

<div id="help">
  <p>
A list of workitems (tasks) that your user may view or edit.
  </p>
  <p>
'pick' allows you to make a workitem yours (transferring it to your personal woritem store).
  </p>
</div>

