
<div style="float: left;">

  <div class='content_title'><%= workitem_path(@workitem) %></div>

  <table>
    <%= render :partial => 'shared/workitem_header', :locals => { :workitem => @workitem } %>
    <tr class="nhover">
      <td>fields</td>
      <td><pre><%= h @workitem.field_hash.to_json.gsub(/,/, ",\n") %></pre></td>
    </tr>
    <tr>
      <td colspan='2'>
        <%= link_to 'edit', edit_workitem_path(@workitem) %> |
        <%= link_to 'back', :back %>
      <td>
    </tr>
  </table>

</div>

<div class="align-right">

  <%= render_fluo :wfid => @workitem.wfid, :workitems => [ @workitem.expid ] %>

</div>

