
<div class="login_text column first span-12">
  &nbsp;
</div>

<div class="column last span-12 align-right loginbox">

  <% form_tag session_path do -%>

  <div>
  username
  <%= text_field_tag 'login', @login %>
  </div>
  
  <div>
  password
  <%= password_field_tag 'password', nil %>
  </div>
  
  <!-- Uncomment this if you want this functionality
  <p><%= label_tag 'remember_me', 'Remember me' %>
  <%= check_box_tag 'remember_me', '1', @remember_me %></p>
  -->
  
  <div>
    <%= submit_tag 'Log in' %>
  </div>

  <% end -%>
</div>

<script>
  document.getElementById('login').focus();
</script>

