
<div class="login_text column first span-16">
  <p>
    This is a demo instance of <a href="http://github.com/jmettraux/ruote-web2/">ruote-web2</a>.
  </p>
  <p>
    Login as 'admin', 'bob' or 'charly'. Passord is the username ('bob' for the user 'bob' for example).
  </p>
  <p>
    Learn more about Ruote at <a href="http://openwferu.rubyforge.org">http://openwferu.rubyforge.org</a>.
  </p>
</div>

<div class="column last span-8 align-right loginbox">

  <% form_tag session_path do -%>

  <div>
  username
  <%= text_field_tag 'login', @login %>
  </div>
  
  <div>
  password
  <%= password_field_tag 'password', nil %>
  </div>
  
  <!-- Uncomment this if you want this functionality
  <p><%= label_tag 'remember_me', 'Remember me' %>
  <%= check_box_tag 'remember_me', '1', @remember_me %></p>
  -->
  
  <div>
    <%= submit_tag 'Log in' %>
  </div>

  <% end -%>
</div>

<script>
  document.getElementById('login').focus();
</script>

