
<div class='content_title'>/history</div>

<table class="history">

  <thead class="history_head">
    <th>date</th>
    <th><!--since--></th>
    <th>source</th>
    <th>event</th>
    <th>wfid</th>
    <th>fei</th>
    <th>participant</th>
    <th>message</th>
  </thead>

  <tbody>
  <% @entries.each do |entry|

       fei = entry.full_fei
       sfei = fei ? "#{fei.sub_instance_id} #{fei.expname} #{fei.expid}" : ''
  %>
    <tr class="history_entry">
      <td class="created_at"><%= entry.created_at %></td>
      <td class="since"><%= display_since(entry, :created_at) %></td>
      <td class="source"><%= view_link(entry, :source) %></td>
      <td class="event"><%= view_link(entry, :event) %></td>
      <td class="wfid"><%= view_link(entry, :wfid) %></td>
      <td class="fei"><%= sfei %></td>
      <td class="participant"><%= view_link(entry, :participant) %></td>
      <td class="message"><%= entry.message %></td>
    </tr>
  <% end %>
  </tbody>

  <tfoot>
  </tfoot>
</table>

<div class="history_nav align-right">
  <%= @all ? '' : link_to('all', :controller => 'history') %>
  <%= will_paginate(@entries) %>
</div>

