
<div class='content_title'>/history</div>

<table class="coll">

  <thead>
    <tr>
      <th>date</th>
      <th><!--since--></th>
      <th>source</th>
      <th>event</th>
      <th>wfid</th>
      <th>wfname</th>
      <th>fei</th>
      <th>participant</th>
      <th>message</th>
    </tr>
  </thead>

  <tbody>
  <% @entries.each do |entry|

       fei = entry.full_fei
       sfei = fei ? "#{fei.sub_instance_id} #{fei.expname} #{fei.expid}" : ''
       cat = entry.created_at.to_s
  %>
    <tr>
      <td class="created_at" title="<%= cat %>"><%= cat[0..18] %></td>
      <td class="since"><%= display_since(entry, :created_at) %></td>
      <td class="source"><%= view_link(entry, :source) %></td>
      <td class="event"><%= view_link(entry, :event) %></td>
      <td class="wfid"><%= view_link(entry, :wfid) %></td>
      <td class="wfname"><%= view_link(entry, :wfname) %> <%= h entry.wfrevision %></td>
      <td class="fei"><%= sfei %></td>
      <td class="participant"><%= view_link(entry, :participant) %></td>
      <td class="message" title="<%= h entry.message %>"><%= h truncate(entry.message, :length => 15) %></td>
    </tr>
  <% end %>
  </tbody>

  <tfoot>
  </tfoot>
</table>

<div class="align-right">
  <%= @all ? '' : link_to('all', :controller => 'history') %>
  <%= will_paginate(@entries) %>
</div>

<div id="help">
  <p>
Listing what happened in the engine.
  </p>
</div>

