
<div class='content_title'>/groups/<%= h @group.name %></div>

<div class='left_pane'>

  <% form_for(@group) do |f| %>
    <%= f.error_messages %>

    <div>
      <%= f.label :name %>
      name <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit 'update' %>
      <%= link_to 'show', @group %> |
      <%= link_to 'back', groups_path %>
    </div>
  <% end -%>

</div>

<div class='right_pane'>
  <%= render :partial => 'shared/group_users', :locals => @ug_locals %>
</div>

<div class='clear'></div>

