
<div class='content_title'>/groups/<%= h @group.name %></div>

<div class="column span-12 first">

  <% form_for(@group) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td class="wide-first-col">name</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr class="button-row">
        <td colspan='2'>
          <%= f.submit 'update' %>
          <%= link_to 'show', @group %> |
          <%= link_to 'back', groups_path %>
        </td>
      </tr>
    </table>
  <% end -%>

</div>

<div class="column span-12 last align-right">
  <%= render :partial => 'shared/group_users', :locals => @ug_locals %>
</div>

