
<div class='content_title'>editing group '<%= @group.name %>'</div>

<div class='left_pane'>

  <% form_for(@group) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>

  <%= link_to 'Show', @group %> |
  <%= link_to 'Back', groups_path %>
</div>

<div class='right_pane'>
  <%= render :partial => 'shared/group_users', :locals => @ug_locals %>
</div>

<div class='clear'></div>

