
<h1>groups</h1>

<table>
  <tr>
    <th>name</th>
    <th>members</th>
  </tr>

<% for group in @groups %>
  <tr>
    <td class='group_name'><%= h group.name %></td>
    <td class='group_members'><%= h group.user_logins.sort.join(", ") %></td>
    <!--td><%= link_to 'Show', group %></td-->
    <td class='group_button'><%= link_to 'edit', edit_group_path(group) %></td>
    <td class='group_button'><%= link_to 'destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New group', new_group_path, :class => 'group_button group_new' %>

