
<div class="content_title">/groups/new</div>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'create' %>
  </p>
<% end %>

<%= link_to 'back', groups_path %>

