
<div class='content_title'>/groups/<%= h @group.name %></div>

<table>
  <tr>
    <td>id</td>
    <td><%= h @group.id %></td>
  </tr>
  <tr>
    <td>name</td>
    <td><%= h @group.name %></td>
  </tr>
  <tr>
    <td>members</td>
    <td><%= comma_list(@group.users, :login) %></td>
  </tr>
  <tr>
    <td colspan='2'>
      <%= link_to 'edit', edit_group_path(@group) %> |
      <%= link_to 'back', groups_path %>
    <td>
  </tr>
</table>

