
<div class="content_title">/users/<%= @user.login %></div>

<div class='left_pane'>

  <% form_for(@user) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td>login</td>
        <td><%= f.text_field :login %></td>
      </tr>
      <tr>
        <td>name</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>email</td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td>password</td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td>password (2)</td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <td colspan='2'>
          <%= f.submit 'update' %>
          <%= link_to 'show', @user %> |
          <%= link_to 'back', users_path %>
        </td>
      </tr>
    </table>
  <% end %>

</div>

<div class='right_pane'>
  <%= render :partial => 'shared/user_groups', :locals => @ug_locals %>
</div>

<div class='clear'></div>

