
<div class="content_title">/users/<%= @user.login %></div>

<div class="column span-12 first">

  <% form_for(@user) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td class="wide-first-col">login</td>
        <td><%= f.text_field :login %></td>
      </tr>
      <tr>
        <td>name</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>email</td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td>password</td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td>password (2)</td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr class="button-row">
        <td colspan='2'>
          <%= f.submit 'update' %>
          <%= link_to 'show', @user %> |
          <%= link_to 'back', users_path %>
        </td>
      </tr>
    </table>
  <% end %>

</div>

<div class="column span-12 last align-right">
  <%= render :partial => 'shared/user_groups', :locals => @ug_locals %>
</div>

