
<div class='content_title'>/users</div>

<table class='coll'>

  <thead>
    <tr>
      <th>login</th>
      <th>name</th>
      <th>groups</th>
    </tr>
  </thead>

<% for user in @users %>
  <tr>
    <td><%= link_to h(user.login), user_path(user) %></td>
    <td><%= h user.name %></td>
    <td><%= comma_list(user.groups) %></td>
    <td class='coll_buttons'>
      <%= link_to 'show', user_path(user) %> |
      <%= link_to 'edit', edit_user_path(user) %> |
      <%= link_to 'remove', user, :confirm => 'Are you sure ?', :method => :delete %>
    </td>
  </tr>
<% end %>
  <tr>
    <td class='coll_new_button' colspan='4'>
      <%= link_to 'new user', new_user_path %>
    </td>
  </tr>
</table>

