
<div class="content_title">/user/<%= h @user.login %></div>

<table>
  <tr>
    <td class="wide-first-col">id</td>
    <td><%= h @user.id %></td>
  </tr>
  <tr>
    <td>login</td>
    <td><%= h @user.login %></td>
  </tr>
  <tr>
    <td>name</td>
    <td><%= h @user.name %></td>
  </tr>
  <tr>
    <td>groups</td>
    <td><%= comma_list(@user.groups) %></td>
  </tr>
  <tr>
    <td>email</td>
    <td><%= h @user.email %></td>
  </tr>
  <tr>
    <td>created_at</td>
    <td><%= h @user.created_at %></td>
  </tr>
  <tr>
    <td>updated_at</td>
    <td><%= h @user.updated_at %></td>
  </tr>
<% if current_user.is_admin? %>
  <tr>
    <td class='col_buttons' colspan='2'>
      <%= link_to 'edit', edit_user_path(@user) %> |
      <%= link_to 'back', :back %>
    </td>
  </tr>
<% end %>
</table>


