
<div class='content_title'>/definitions/<%= h @definition.id %></div>

<div style='float: left;'>

  <% form_for(@definition) do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td>name</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>uri</td>
        <td><%= f.text_field :uri %></td>
      </tr>
      <tr>
        <td>launch_fields</td>
        <td><%= f.text_field :launch_fields %></td>
        <!--
        <td colspan="2">

          <%= render(:partial => @payload_partial, :locals => { :fields => @definition.launch_fields_hash }) %>

        </td>
        -->
      </tr>
      <tr>
        <td class='coll_buttons' colspan='2'>
          <%= f.submit 'update' %>
          <%= link_to 'show', @definition %> |
          <%= link_to 'back', definitions_path %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<div style='float: left; margin-left: 28px;'>
  <%= render :partial => 'shared/definition_groups', :locals => @dg_locals %>
</div>

<div class='align-right'>
  <%= render_fluo :definition => @definition %>
</div>

