
<div class='content_title'>/definitions</div>

<table class='coll' style='width: 100%;'>
  <tr class='nhover'>
    <th>name</th>
    <th>uri</th>
    <th>groups</th>
  </tr>
<% for definition in @definitions %>
  <tr>
    <td><%= link_to h(definition.name), definition %></td>
    <td><%= link_to h(definition.uri), definition.full_uri %></td>
    <td><%= comma_list(definition.groups) %></td>
    <td class='coll_buttons'>
      <%= link_to 'show', definition %> |
      <%= link_to_if current_user.is_admin?, 'edit', edit_definition_path(definition) %> |
      <%= link_to_if current_user.is_admin?, 'remove', definition, :confirm => 'Are you sure ?', :method => :delete %> |
      <%= link_to_if current_user.may_launch?(definition), 'launch', new_process_path(:definition => definition.id) %>
    </td>
  </tr>
<% end %>
  <tr>
    <td class='coll_new_button' colspan='4'>
      <%= link_to 'add process definition', new_definition_path %>
    </td>
  </tr>
</table>

