
<div class="content_title">/definitions/new</div>

<% form_for(@definition) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>name</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>uri</td>
      <td><%= f.text_field :uri %></td>
    </tr>
    <tr>
      <td colspan='2'>
        <%= f.submit "create" %>
        <%= link_to 'back', definitions_path %>
      </td>
    </tr>
  <table>
<% end %>

