
<div style="float: left;">

  <div class="content_title">/definitions/<%= h @definition.id %></div>

  <table>
    <tr>
      <td class="wide-first-col">name</td>
      <td><%= h @definition.name %></td>
    </tr>
    <tr>
      <td>description</td>
      <td><%= h @definition.description %></td>
    </tr>
    <tr>
      <td>uri</td>
      <td><%= link_to h(@definition.uri), @definition.full_uri %></td>
    </tr>
    <tr>
      <td>created_at</td>
      <td><%= h @definition.created_at %></td>
    </tr>
    <tr>
      <td>updated_at</td>
      <td><%= h @definition.updated_at %></td>
    </tr>
    <tr>
      <td>launch_fields</td>
      <td><%= h @definition.launch_fields %></td>
    </tr>
    <tr class="button-row">
      <td colspan="2">
        <%= link_to_if(
          current_user.may_launch?(@definition),
          'launch',
          new_process_path(:definition_id => @definition.id),
          { :title => 'launch a new instance of this process definition' }) %> |
        <%= link_to_if(
          current_user.is_admin?,
          'edit',
          edit_definition_path(@definition),
          { :title => 'edit this process definition' }) %> |
        <%= link_to('back', :back) %>
      </td>
    </tr>
  </table>
</div>

<div class="align-right">

  <%= render_fluo :definition => @definition %>

</div>

