
<div class='content_title'>/errors</div>

<table class="coll">

  <thead>
    <tr>
      <th>date</th>
      <th>wfid</th>
      <th>expid</th>
      <th>call</th>
      <th>trace</th>
      <th><!-- buttons --></th>
    </tr>
  </thead>

  <tbody>
  <% @errors.each do |error|
       e = error.as_owfe_error -%>
    <tr>
      <td><%= h display_time(e.date) %> .<%= h e.date.usec.to_s[0, 3] %></td>
      <td><%= h e.wfid %></td>
      <td><%= h e.fei.expid %></td>
      <td><%= h e.message %></td>
      <td><%= h e.stacktrace %></td>
      <td class="coll_buttons">
        <%= link_to_function 'replay/discard', "alert('not yet wired');" %>
      </td>
    </tr>
  <% end %>
  </tbody>

  <tfoot>
  </tfoot>
</table>

<div class="align-right">
  <%= @all ? '' : link_to('all', :controller => 'errors') %>
  <%= will_paginate(@errors) %>
</div>

