
<div style="float: left;">

  <div class='content_title'><%= edit_process_path(@process.wfid) %></div>

  <table>

    <%= render :partial => 'shared/process_header', :locals => { :process => @process } %>

    <% for fexp in @process.all_expressions.select { |fexp| ! fexp.is_a?(OpenWFE::Environment) }.reverse %>
    <tr>
      <td><%= @shown ? '' : 'expressions' %></td>
      <td
        onmouseover="FluoCan.highlight('fluo', '<%= fexp.fei.expid %>')"
        onmouseout="FluoCan.highlight('fluo', null)"
      ><%= link_to_if current_user.is_admin?, h(fexp.fei.to_web_s), edit_expression_path(fexp) %></td>
      <% @shown = true %>
    </tr>
    <% end %>
    <tr class='nhover'>
      <td colspan='2'>
        <%= link_to_if current_user.is_launcher?(@process), 'abort', process_path(@process.wfid), :confirm => 'Are you sure ?', :method => :delete %> |
        <%= link_to 'back', :back %>
      <td>
    </tr>
  </table>

</div>

<div class="align-right">

  <%= render_fluo :process => @process, :workitems => @process.workitem_expids %>

</div>

