
<div class='content_title'>/processes</div>

<table class='coll'>

  <thead>
    <tr>
      <th>id</th>
      <th>workflow</th>
      <th>since</th>
      <th>launcher</th>
      <th>br</th>
      <th>err</th>
      <th class='align-right'><%= @processes.total_entries %> instances</th>
    </tr>
  </thead>

<% for ps in @processes %>
  <tr class="process">
    <td><%= link_to_slice(ps, :wfid) %></td>
    <td><%= link_to_slice(ps, :wfname, :workflow) %> <%= h ps.wfrevision %></td>
    <td><%= h display_time(ps.launch_time) %></td>
    <td><%= ps.launcher ? link_to_slice(ps, :launcher) : '-' %></td>
    <td><%= h ps.branches %></td>
    <td><%= link_to_if(
      current_user.is_admin? && ps.errors.size > 0,
      h(ps.errors.size),
      errors_path(ps.wfid)) %></td>
    <td class="coll_buttons">
      <%= link_to 'show', process_path(ps.wfid) %> |
      <%= link_to_if current_user.is_admin?, 'edit', edit_process_path(ps.wfid) %> |
      <%= link_to_if current_user.is_launcher?(ps), 'abort', process_path(ps.wfid), :confirm => 'Are you sure ?', :method => :delete %>
    </td>
  </tr>
<% end -%>
</table>

<div class="processes_nav align-right">
  <%= (params[:workflow] or params[:launcher]) ? link_to('all', processes_path) : '' %>
  <%= will_paginate(@processes) %>
</div>

<div class="processes_launch align-right">
  <%= link_to('launch', definitions_path, :title => 'launch a new process from a definition') %>
</div>

<div id="help">
  <p>
List of process instances. With sufficient rights, you can abort them or even modify them.
  </p>
</div>

