
<div class='content_title'>/processes</div>

<table class='coll' style="width: 100%;">
  <tr class="nhover">
    <th>id</th>
    <th>workflow</th>
    <th>since</th>
    <th>launcher</th>
    <th>br</th>
    <th>err</th>
    <th style='text-align: right;'><%= @processes.size %> instances</th>
  </tr>
<% for ps in @processes.values
     launcher = ps.variables['launcher'] %>
  <tr class="process">
    <td class="wfid"><%= link_to(h(ps.wfid), process_path(ps.wfid)) %></td>
    <td class="wfname"><%= h "#{ps.wfname} #{ps.wfrevision}" %></td>
    <td class="launch"><%= h display_time(ps.launch_time) %></td>
    <td class="launcher"><%= h(launcher || '-') %></td>
    <td class="branches"><%= h ps.branches %></td>
    <td class="errors"><%= h ps.errors.size %></td>
    <td class="coll_buttons">
      <%= link_to 'show', process_url(ps.wfid) %>
      <% if current_user.is_admin? %>
        | <%= link_to 'edit', edit_process_url(ps.wfid) %>
      <% end -%>
      <% if current_user.is_admin? or (current_user.login == launcher) %>
        | <%= link_to 'abort', process_url(ps.wfid), :confirm => 'Are you sure ?', :method => :delete %></td>
      <% end -%>
    </td>
  </tr>
<% end -%>
</table>

