
<div style="float: left;">

  <div class="content_title">/processes/new</div>

  <% form_tag '/processes', :id => 'workitem_form', :multipart => true do |f| %>
    <%= hidden_field_tag 'definition_id', @definition.id %>
    <table>
      <tr>
        <td>uri</td>
        <td><%= h @definition.uri %></td>
      </tr>
      <tr>
        <td colspan="2" class="nhover">

          <%= render(:partial => @payload_partial, :locals => { :fields => @definition.launch_fields_hash }) %>

        </td>
      </tr>
      <tr>
        <td colspan="2" class="nhover">
          <%= submit_tag 'launch new process instance' %>
          <%= link_to 'back', :back %>
        </td>
      </tr>
    </table>
  <% end -%>
</div>

<div class="align-right">

  <%= render_fluo :definition => @definition %>

</div>

