
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>ruote-web2 <%= request.request_uri %></title>

    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'blueprint/screen.css' %>
    <%= stylesheet_link_tag 'blueprint/plugins/css-classes/css-classes.css' %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>

    <%= stylesheets %>

    <!-- TODO : link to syndication if logged in -->

  </head>

  <body>

    <div class="container">

      <div id="header" class="column span-24 first last">

        <div class="column span-12 first" onclick="location.href = '<%= url_for(:controller => 'workitems', :action => 'index') %>'; return true;">
          <img src="/images/openwfe-logo.png" align="left" style="cursor: pointer;" />
          <span id="ruote_web2">ruote-web2</span>
        </div>

        <div id="user_control" class="column span-12 last align-right">
          <%= current_user ? render_log_menu : '' %>
        </div>

        <div id="subheader" class="column span-24 first last">
          <div class="column span-8 first">
            open source ruby workflow engine
          </div>
          <div class="column span-16 last align-right">
            <%= current_user ? render_res_menu : 'please log in' %>
          </div>
        </div>
      </div>

      <div class="content column span-24 first last">
        <%= content_tag(
          'div', h(flash[:notice]), :class => 'notice', :id => 'notice'
          ) if flash[:notice] %>

        <%= content_tag(
          'div', h(flash[:error]), :class => 'notice error', :id => 'error'
          ) if flash[:error] %>

        <%= yield :layout %>
      </div>

      <div class="column span-24 first last">
        <div id="footer" class="column span-24 first last">
          <div id="footer-left" class="column span-12 first">
            <%= link_to_function('help', 'toggleHelp()') %>
          </div>
          <div id="footer-right" class="column span-12 last align-right">
            <% if current_user %>
            <a href="<%= as_x_href(:xml) %>" title="show raw XML (may not yet be implemented)">as xml</a> |
            <a href="<%= as_x_href(:json) %>" title="show raw JSON (may not yet be implemented)">as json</a>
            <% end %>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>

